<div class="jumbotron">
    <h1>Report</h1>
    <div class="row">
        <a href="" ng-click="messages.addUser()" class="btn btn-success">add user</a>
    </div>

    <div class="row" ng-repeat="user in messages.storage.users">
        <div class="span1">Last load: {{ messages.storage.lastLoad[user.id] | date:"medium" }}</div>
        <div class="span1">User: {{ user.name }} <span class="glyphicon glyphicon-trash" ng-click="messages.removeUser(user.id)"></span></div>
        <table class="table">
            <thead>
                <tr>
                    <th>type</th>
                    <th>1 hour</th>
                    <th>6 hours</th>
                    <th>24 hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>sent</td>
                    <td>{{ messages.storage.aggregated['sent'][user.id].one }}</td>
                    <td>{{ messages.storage.aggregated['sent'][user.id].six }}</td>
                    <td>{{ messages.storage.aggregated['sent'][user.id].twentyFour }}</td>
                </tr>
                <tr>
                    <td>inbox</td>
                    <td>{{ messages.storage.aggregated['inbox'][user.id].one }}</td>
                    <td>{{ messages.storage.aggregated['inbox'][user.id].six }}</td>
                    <td>{{ messages.storage.aggregated['inbox'][user.id].twentyFour }}</td>
                </tr>
                <tr>
                    <td>unread</td>
                    <td>{{ messages.storage.aggregated['unread'][user.id].one }}</td>
                    <td>{{ messages.storage.aggregated['unread'][user.id].six }}</td>
                    <td>{{ messages.storage.aggregated['unread'][user.id].twentyFour }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>