<div class="jumbotron">
    <h1>Report</h1>
    <div class="row">
        <a href="" ng-click="messages.addUser()" class="btn btn-success">add user</a>
    </div>

    <div class="row" ng-repeat="user in messages.storage.users">
        <div class="span1">Last load: {{ messages.storage.lastLoad[user.id] | date:"medium" }}</div>
        <div class="span1">User: {{ user.name }} {{ user.id }} <a href="" ng-click="messages.removeUser(user.id)" class="btn btn-danger">remove</a> </div>
        <table class="table">
            <thead>
                <tr>
                    <th>1 hour</th>
                    <th>6 hours</th>
                    <th>24 hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ messages.storage.aggregated[user.id].one }}</td>
                    <td>{{ messages.storage.aggregated[user.id].six }}</td>
                    <td>{{ messages.storage.aggregated[user.id].twentyFour }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>